.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

nav {
  background-color: #f3f3f3;
}

nav .container ul li {
  margin-right: 9px;
}

nav .container ul li .nav-link {
  font-weight: 600;
  color: #797979;
  height: 100%;
}

nav .container ul li .nav-link:hover {
  border-bottom: 2px solid red;
}

nav .container ul li .active-nav {
  border-bottom: 2px solid red;
  position: relative;
}

nav .container form .input {
  width: 130px;
}

.active-nav-p-series {
  border-top: 2px solid red;
  position: relative;
  margin-top: -2px;
}

.img-click {
  position: relative;
}

.img-click img {
  width: 100%;
  height: 400px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-click .gray-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.img-click .gray-overlay i {
  color: #e9e9e92d;
}

.img-click:hover .gray-overlay {
  background-color: rgba(128, 128, 128, 0.164);
}

.img-click:hover .gray-overlay i {
  color: #d4d4d4;
  cursor: pointer;
}

.nav-hover {
  width: 100%;
  background-color: #f3f3f3;
  padding: 30px 0;
  position: fixed;
  top: 72px;
  z-index: 99999;
}

.nav-hover .container .row .item {
  width: 12%;
}

.nav-hover .container .row .item .img {
  width: 100px;
  cursor: pointer;
}

.nav-hover .container .row .item .img img {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.nav-hover .container .row .item .img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav-hover .container .row .item .img p {
  font-size: 14px;
  text-align: center;
}

.nav-hover .container .col-hot h5 {
  font-weight: 600;
}

.nav-hover .container .col-hot .row ul li {
  padding: 1px 0;
  font-size: 14px;
}

.dropdown a {
  color: #444444;
}

.dropdown a:hover {
  color: #444444;
}

.dropdown .dropdown-menu {
  background-color: #2525258e;
  left: -40px;
  margin-top: 23px;
  padding: 0;
}

.dropdown .dropdown-menu li a {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  color: #acacac;
}

.dropdown .dropdown-menu li a:hover {
  background-color: none;
}

.sidebar-side {
  position: fixed;
  right: 0;
  top: 35vh;
  width: 40px;
  z-index: 100;
}

.sidebar-side .icon-side,
.sidebar-side .icon-side-product {
  position: relative;
  background-color: red;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  height: 40px;
  margin-top: 2px;
}

.sidebar-side .icon-side .slide-content,
.sidebar-side .icon-side-product .slide-content {
  background-color: red;
  height: 100%;
  width: 100px;
  top: 0;
  position: absolute;
  right: -110px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  z-index: -1;
}

.sidebar-side .icon-side .slide-content p,
.sidebar-side .icon-side-product .slide-content p {
  margin: 0;
  color: white;
}

.sidebar-side .icon-side:hover,
.sidebar-side .icon-side-product:hover {
  background-color: black;
}

.sidebar-side .icon-side:hover .slide-content,
.sidebar-side .icon-side-product:hover .slide-content {
  background-color: black;
}

.sidebar-side .icon-side-product {
  background-color: rgba(255, 0, 0, 0);
  margin-top: 0px;
}

.sidebar-side .icon-side-product .slide-content {
  width: 150px;
  right: -150px;
}

.sidebar-side .icon-side-product .slide-content p {
  font-size: 14px;
}

.sidebar-side .icon-side-product:hover {
  background-color: rgba(63, 41, 41, 0);
}

.sidebar-side .icon-side-product:hover .slide-content {
  background-color: black;
}

#section-header {
  margin-top: 80px;
}

#section-header .container .img {
  position: relative;
  max-height: 250px;
  overflow: hidden;
}

#section-header .container .img:hover .overlay {
  bottom: -40px;
}

#section-header .container .img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#section-header .container .img img {
  width: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

#section-header .container .img .overlay {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #00000036;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

#section-header .container .img .overlay h4 {
  color: #fff8ea;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel:hover .overlay {
  bottom: -40px;
}

.carousel:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.carousel .overlay {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #00000036;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.carousel .overlay h4 {
  color: #fff8ea;
}

.carousel .carousel-inner img {
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-stage-outer {
  overflow: hidden;
}

.owl-carousel .owl-stage-outer .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.owl-carousel .owl-stage-outer .owl-item .item {
  width: 125px;
}

.owl-carousel .owl-stage-outer .owl-item .item .img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.owl-carousel .owl-stage-outer .owl-item .item .img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.owl-carousel .owl-stage-outer .owl-item .item .img img {
  width: 70%;
  cursor: pointer;
  z-index: 99;
}

.owl-carousel .owl-stage-outer .owl-item .item p {
  font-weight: 700;
  margin-top: 8px;
  font-size: 15px;
  color: #9b2020;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: 0;
}

.owl-carousel .owl-nav .owl-prev button i {
  outline: none;
}

.owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: 0;
}

.owl-carousel .owl-nav .owl-next button i {
  outline: none;
}

#product-market .bg,
#product-series .bg,
#technologies .bg {
  background-color: #f3f3f3;
}

#Automobile-injection .row .img {
  position: relative;
}

#Automobile-injection .row .img img {
  width: 100%;
  height: 400px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

#Automobile-injection .row .img .overlay {
  position: absolute;
  top: 0;
  background-color: #00000071;
  padding: 15px 40px 6px 20px;
}

#Automobile-injection .row .img .overlay h4 {
  color: white;
}

#Automobile-injection .row .img .overlay p {
  color: white;
}

#Automobile-injection .row .img .overlay p span {
  color: red;
}

#Automobile-injection .row .img .gray-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#Automobile-injection .row .img .gray-overlay i {
  color: #e9e9e92d;
}

#Automobile-injection .row .img:hover .gray-overlay {
  background-color: rgba(128, 128, 128, 0.164);
}

#Automobile-injection .row .img:hover .gray-overlay i {
  color: #e9e9e9;
  cursor: pointer;
}

#Automobile-injection .row .col-md-5 .row .col-4 {
  cursor: pointer;
}

#technologies .container {
  margin-bottom: 60px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-card {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  padding-top: 130px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  height: 400px;
  max-width: 700px;
}

.modal-content-card {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
.modal-content-card,
#caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Close Button */
.close,
.close2 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.img-application {
  position: relative;
}

.img-application .overlay,
.img-application .overlay2 {
  position: absolute;
  width: 100%;
  padding: 10px 0;
  bottom: 0;
  background-color: #9e9e9e2f;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.img-application:hover .overlay {
  padding: 50px 0;
}

.img-application:hover .overlay2 {
  padding: 100px 0;
}

#product-series .nav-pr {
  margin-bottom: 40px;
}

#product-series ul li {
  list-style: none;
  padding: 5px 60px;
  cursor: pointer;
  font-weight: 600;
}

#product-series ul li:hover {
  border-top: 2px solid red;
  margin-top: -2px;
}

#product-series #product-description .img {
  position: relative;
}

#product-series #product-description .img img {
  width: 100%;
  height: 400px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

#product-series #product-description .img .overlay {
  position: absolute;
  top: 0;
  background-color: #00000071;
  padding: 15px 40px 6px 20px;
}

#product-series #product-description .img .overlay h4 {
  color: white;
}

#product-series #product-description .img .overlay p {
  color: white;
}

#product-series #product-description .img .overlay p span {
  color: red;
}

#product-series #product-description .img .gray-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#product-series #product-description .img .gray-overlay i {
  color: #e9e9e92d;
}

#product-series #product-description .img:hover .gray-overlay {
  background-color: rgba(128, 128, 128, 0.164);
}

#product-series #product-description .img:hover .gray-overlay i {
  color: #e9e9e9;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .timeline-line-now .line .line-span {
    height: 360% !important;
    border-left: 3px solid red;
    margin-left: 11px;
  }
}

@media only screen and (max-width: 1024px) {
  .timeline-line-now .line .line-span {
    height: 155% !important;
    border-left: 3px solid red;
    margin-left: 11px;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 970px) {
  #section-header #carouselExampleControls {
    height: 190px;
  }
  #section-header #carouselExampleControls .carousel-inner {
    height: 190px;
  }
  #section-header #carouselExampleControls .carousel-inner .carousel-item {
    height: 190px;
  }
  .timeline-line-now .line .line-span {
    height: 155% !important;
    border-left: 3px solid red;
    margin-left: 11px;
  }
  #Automobile-injection .container .row .img img {
    height: 330px;
  }
  .nav-product {
    margin-top: 100px;
  }
  .nav-product .row ul li a {
    display: block;
    text-align: center;
    font-size: 14px !important;
    width: 100%;
    padding: 10px 20px !important;
  }
}

@media only screen and (max-width: 810px) {
  .col-filter .filter {
    width: 100%;
  }
  .nav-hover {
    display: none;
  }
}

@media only screen and (max-width: 753px) {
  #section-header #carouselExampleControls {
    height: 235px;
  }
  #section-header #carouselExampleControls .carousel-inner {
    height: 235px;
  }
  #section-header #carouselExampleControls .carousel-inner .carousel-item {
    height: 235px;
  }
  .modal-content {
    width: 100%;
  }
  #product-series ul li {
    padding: 0 20px;
    text-align: center;
  }
  .nav-product {
    margin-top: 100px;
  }
  .nav-product .row ul li a {
    display: block;
    text-align: center;
    font-size: 14px !important;
    padding: 10px 15px !important;
    width: 100%;
  }
}

.active {
  border-top: 2px solid red;
  margin-top: -2px;
}

.column-product {
  overflow: hidden;
}

.footer {
  background-color: #302d2d;
  width: 100%;
  padding: 40px 0 0 0;
}

.footer .container p {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  color: #eeeeee;
}

.footer .container ul {
  margin-left: -32px;
}

.footer .container ul li {
  list-style: none;
}

.footer .container ul li p {
  color: #a3a3a3;
  font-size: 14px;
}

.footer .container ul .icon img {
  width: 40px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footer .container ul .icon p {
  color: #a3a3a3;
  font-size: 14px;
}

.footer .container ul .icon:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer .container ul .icon:hover p {
  color: whitesmoke;
}

.footer .container ul .sosmed {
  margin-right: 7px;
}

.footer .container ul .sosmed img {
  width: 35px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footer .container ul .sosmed:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer .container-fluid .row .col-auto {
  color: #a3a3a3;
}

.slick-responsive div img {
  width: 100%;
}

.section-header img {
  height: 220px;
  width: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.content-intro .title h2 {
  font-size: 32px;
}

.content-intro .body {
  font-size: 18px;
}

.section-history .history .nav-menu-history .nav-item .year {
  padding: 0 0;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #808080;
  cursor: pointer;
}

.section-history .history .nav-menu-history .nav-item .year:hover {
  color: #9b2020;
}

.section-history .history .nav-menu-history .nav-item span {
  padding-right: 4px;
  padding-left: 4px;
  color: #7e7e7e71;
}

.section-history .history .nav-menu-history .nav-item .active-hs {
  color: #9b1616;
}

.section-history .event-text {
  margin-top: -12px;
}

.section-history .event-text .date {
  font-size: 18px;
  font-weight: 500;
}

.section-history .event-text .history-news {
  font-size: 18px;
  font-weight: 500;
}

.lh-xxl {
  line-height: 40px;
}

#carouselExampleIndicators .carousel-inner .carousel-item img {
  height: 220px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.content {
  margin-top: 80px;
  margin-bottom: 70px;
}

.content .container .row .img img {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  height: 200px;
}

.content .container .row .img:hover img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.content .container .row p {
  color: #444444;
}

.content .container .row:nth-child(2) {
  margin-top: 35px;
}

.content-chairman {
  margin-bottom: 100px;
}

.content-chairman .container .row {
  margin-top: 40px;
}

.content-chairman .container .row .body p {
  line-height: 1.7em;
}

.content-executive {
  margin-bottom: 100px;
}

.content-executive .container {
  background-color: white;
}

.content-executive .container .content-title {
  margin-bottom: 100px;
}

.content-executive .container .con-body .scope {
  margin-top: 70px;
}

.content-executive .container .con-body .scope .row h3 {
  font-weight: 600;
}

.content-executive .container .con-body .scope .row .card {
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.content-executive .container .con-body .scope .row .card .card-img-top {
  height: 120px;
}

.content-executive .container .con-body .scope .row .card:hover {
  -webkit-box-shadow: 0px 0px 14px rgba(116, 116, 116, 0.644);
          box-shadow: 0px 0px 14px rgba(116, 116, 116, 0.644);
}

.section-header {
  margin-top: 70px;
  -webkit-box-shadow: 0 1px 6px #8f8f8f;
          box-shadow: 0 1px 6px #8f8f8f;
}

.content-market {
  margin-bottom: 100px;
}

.content-market .container .content-title {
  margin-bottom: 100px;
}

.content-market .container .con-body .scope {
  margin-top: 70px;
}

.content-market .container .con-body .scope .row h3 {
  font-weight: 600;
}

.content-market .container .con-body .scope .row a {
  text-decoration: none;
  color: #444444;
}

.content-market .container .con-body .scope .row a .card {
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.content-market .container .con-body .scope .row a .card .card-img-top {
  height: 120px;
}

.content-market .container .con-body .scope .row a .card .card-body {
  background-color: #e6e6e6;
}

.content-market .container .con-body .scope .row a .card .card-body h5 {
  font-weight: bold;
  font-size: 16px;
}

.content-market .container .con-body .scope .row a .card .card-body p {
  font-size: 15px;
  font-weight: 400;
}

.content-market .container .con-body .scope .row a .card:hover {
  -webkit-box-shadow: 0px 0px 14px rgba(116, 116, 116, 0.644);
          box-shadow: 0px 0px 14px rgba(116, 116, 116, 0.644);
}

.content-detail .container .content-title {
  border-left: 15px solid #9b1616;
  border-right: 15px solid #9b1616;
  padding: 15px 18px;
}

.content-detail .container .content-title h2 {
  font-weight: 700;
  font-size: 34px;
  margin: 0;
}

.content-detail .container .content-body .row .img img {
  width: 100%;
}

.content-detail .container .content-body .row .list-unstyled li {
  font-size: 14px;
  line-height: 160%;
  font-weight: 600;
}

.content-detail .container .content-body .row .col-md-4 {
  margin-top: 60px;
}

.content-product {
  margin-bottom: 100px;
}

.content-product .container .con-body .nav-product {
  margin-top: 100px;
}

.content-product .container .con-body .nav-product .row ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.content-product .container .con-body .nav-product .row ul li a {
  text-decoration: none;
  color: #747474;
  font-weight: 700;
  font-size: 18px;
  padding: 18px 50px;
}

.content-product .container .con-body .nav-product .row ul li a:hover {
  color: red;
  border-top: 2px solid red;
  margin-top: -2px;
}

.content-product .container .content-title {
  margin-bottom: 100px;
}

.content-product .container .con-body .scope {
  margin-top: 40px;
}

.content-product .container .con-body .scope .row .col-item {
  margin-top: 30px;
}

.content-product .container .con-body .scope .row h3 {
  font-weight: 600;
}

.content-product .container .con-body .scope .row a {
  text-decoration: none;
  color: #444444;
}

.content-product .container .con-body .scope .row a .card {
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.content-product .container .con-body .scope .row a .card .card-img-top {
  height: 200px;
  background-size: contain;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.content-product .container .con-body .scope .row a .card .card-body {
  background-color: #e7e7e7;
}

.content-product .container .con-body .scope .row a .card .card-body h5 {
  font-weight: bold;
  font-size: 16px;
  color: #2e2e2e;
}

.content-product .container .con-body .scope .row a .card .card-body p {
  font-size: 14px;
  font-weight: 600;
}

.content-product .container .con-body .scope .row a .card:hover {
  -webkit-box-shadow: 0px 0px 14px rgba(116, 116, 116, 0.644);
          box-shadow: 0px 0px 14px rgba(116, 116, 116, 0.644);
}

.content-technology {
  margin-bottom: 100px;
}

.content-technology .container .con-body .scope {
  margin-top: 40px;
}

.content-technology .container .con-body .scope .row .col-item {
  margin-top: 30px;
}

.content-technology .container .con-body .scope .row .col-item a {
  text-decoration: none;
  color: #444444;
}

.content-technology .container .con-body .scope .row .col-item a .card {
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.content-technology .container .con-body .scope .row .col-item a .card .card-img-top {
  height: 200px;
  background-size: contain;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.content-technology .container .con-body .scope .row .col-item a .card .card-body {
  background-color: #e7e7e7;
}

.content-technology .container .con-body .scope .row .col-item a .card .card-body h5 {
  font-weight: bold;
  font-size: 16px;
  color: #2e2e2e;
}

.content-technology .container .con-body .scope .row .col-item a .card .card-body p {
  font-size: 14px;
  font-weight: 600;
}

.content-technology .container .con-body .scope .row .col-item a .card:hover {
  -webkit-box-shadow: 0px 0px 14px rgba(116, 116, 116, 0.644);
          box-shadow: 0px 0px 14px rgba(116, 116, 116, 0.644);
}

.content-detail-tech .container .content .desc .content-title {
  border-left: 15px solid #9b1616;
  border-right: 15px solid #9b1616;
  padding: 15px 18px;
}

.content-detail-tech .container .content .desc .content-title h2 {
  font-weight: 700;
  font-size: 34px;
  margin: 0;
}

.content-detail-tech .container .content .content-body .row .col-left ul li {
  padding: 5px 0;
}

.content-detail-tech .container .content .content-body .row .col-right .img {
  position: relative;
}

.content-detail-tech .container .content .content-body .row .col-right .img img {
  width: 100%;
  height: 400px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-detail-tech .container .content .content-body .row .col-right .img .gray-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.content-detail-tech .container .content .content-body .row .col-right .img .gray-overlay i {
  color: #e9e9e92d;
}

.content-detail-tech .container .content .content-body .row .col-right .img:hover .gray-overlay {
  background-color: rgba(128, 128, 128, 0.164);
}

.content-detail-tech .container .content .content-body .row .col-right .img:hover .gray-overlay i {
  color: #e9e9e9;
  cursor: pointer;
}

.content-download {
  margin-bottom: 100px;
  margin-top: 40px;
}

.content-download .container .row .col-card {
  margin-top: 40px;
  padding: 0 18px;
}

.content-download .container .row .col-card a {
  padding: 85px 9px;
  color: #444444;
}

.content-download .container .row .col-card a .body h5 {
  font-weight: 600;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  font-size: 19px;
}

.content-download .container .row .col-card a .body p {
  color: #777777;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  font-size: 15px;
  margin-bottom: 35px;
}

.content-download .container .row .col-card a .button .btn {
  padding: 5px 18px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.content-download .container .row .col-card:hover a .body h5 {
  color: #707070;
}

.content-download .container .row .col-card:hover a .body p {
  color: #9c9c9c;
}

.content-download .container .row .col-card:hover a .button .btn {
  background-color: #fd5454;
}

.content-download-detail {
  margin: 100px 0 140px 0;
}

.content-download-detail .container .row h2 {
  font-weight: 600;
}

.content-download-detail .container .row p {
  font-weight: 600;
}

.content-download-detail .container .row-content {
  margin-top: 30px;
}

.content-news {
  margin-bottom: 100px;
}

.content-news .container {
  background-color: white;
}

.content-news .container .con-body .nav-product {
  margin-top: 100px;
  padding: 20px 10px;
}

.content-news .container .con-body .nav-product .row .nav-menu-product {
  padding: 0;
  margin: 0;
  list-style: none;
}

.content-news .container .con-body .nav-product .row .nav-menu-product li a {
  text-decoration: none;
  color: #747474;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 50px;
}

.content-news .container .con-body .nav-product .row .nav-menu-product li a:hover {
  color: red;
  border-top: 2px solid red;
  margin-top: -2px;
}

.content-news .container .con-body .nav-product .row .col-filter .filter {
  padding: 0;
  list-style: none;
}

.content-news .container .con-body .nav-product .row .col-filter .filter li a {
  text-align: center;
  text-decoration: none;
  color: #747474;
  display: block;
  padding: 10px 10px;
}

.content-news .container .con-body .nav-product .row .col-filter .filter li a:hover {
  color: #ff3c3c;
}

.content-news .container .content-title {
  margin-bottom: 100px;
}

.content-news .container .con-body .scope {
  margin-top: 10px;
  padding: 20px 5px;
}

.content-news .container .con-body .scope .row .col-item {
  margin-top: 30px;
}

.content-news .container .con-body .scope .row h3 {
  font-weight: 600;
}

.content-news .container .con-body .scope .row a {
  text-decoration: none;
  color: #444444;
}

.content-news .container .con-body .scope .row a .card {
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.content-news .container .con-body .scope .row a .card .card-img-top {
  height: 200px;
  background-size: contain;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.content-news .container .con-body .scope .row a .card .card-body {
  background-color: #e6e6e6;
}

.content-news .container .con-body .scope .row a .card .card-body h5 {
  font-weight: bold;
  font-size: 16px;
  color: #2e2e2e;
}

.content-news .container .con-body .scope .row a .card .card-body p {
  font-size: 14px;
  font-weight: 600;
}

.content-news .container .con-body .scope .row a .card:hover {
  -webkit-box-shadow: 0px 0px 14px rgba(116, 116, 116, 0.644);
          box-shadow: 0px 0px 14px rgba(116, 116, 116, 0.644);
}

.content-inquiry {
  margin-bottom: 100px;
  margin-top: 80px;
}

.content-inquiry .container {
  background-color: white;
}

.content-inquiry .container .content {
  margin: 0;
  padding: 0;
}

.content-inquiry .container .content .agreement h5 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.content-inquiry .container .content .agreement .scroll {
  padding: 8px 16px;
  height: 170px;
  overflow: scroll;
  -webkit-box-shadow: 0 0 3px #9e9e9e;
          box-shadow: 0 0 3px #9e9e9e;
}

.content-inquiry .container .content .agreement .scroll .title {
  font-size: 16px;
  font-weight: 600;
}

.content-inquiry .container .content .agreement .scroll p,
.content-inquiry .container .content .agreement .scroll li {
  font-size: 14px;
}

.content-inquiry .container .form .form-gr .input-title:nth-child(0) {
  margin-top: 15px;
}

.content-inquiry .container .form .form-gr .input-title-center {
  margin-top: 6px;
}

.content-inquiry .container .form .form-gr .input-title {
  margin-bottom: 0;
}

.section-header-world {
  margin-top: 72px;
}

.section-header-world svg {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  -o-object-position: center;
     object-position: center;
  width: 600px;
}

.section-header-world svg path {
  fill: #cccccc;
  stroke: #797979;
  stroke-width: 0.8px;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
  cursor: pointer;
}

.section-header-world svg path:active {
  fill: #919191;
}

.section-header-world svg .active-path {
  fill: #919191;
}

.content-worldwide .container .content .active-worldwide {
  background-color: black !important;
  color: #f0f0f0 !important;
}

.content-worldwide .container .content .col-network {
  margin-top: 20px;
}

.content-worldwide .container .content .col-network ul {
  margin-bottom: 0;
}

.content-worldwide .container .content .col-network ul li {
  margin-bottom: 4px;
}

.content-worldwide .container .content .col-network ul li a {
  display: inline-block;
  text-decoration: none;
  color: #1f1f1f;
  font-size: 18px;
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: #ebebeb;
}

.content-worldwide .container .content .col-network ul li a:hover {
  background-color: black;
  color: #f0f0f0;
}

.content-worldwide .container .content .col-continent {
  margin-top: 20px;
}

.content-worldwide .container .content .col-continent ul {
  margin-bottom: 0;
}

.content-worldwide .container .content .col-continent ul li {
  margin-bottom: 4px;
  background-color: #ebebeb;
  display: inline-block;
  color: #1f1f1f;
  font-size: 18px;
  width: 100%;
  text-align: start;
  padding: 0px 20px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}

.content-worldwide .container .content .col-continent ul li:hover {
  background-color: black;
  color: #f0f0f0;
}

.content-worldwide .container .content .col-country {
  margin-top: 20px;
}

.content-worldwide .container .content .col-country ul {
  margin-bottom: 0;
}

.content-worldwide .container .content .col-country ul li {
  margin-bottom: 4px;
  background-color: #ebebeb;
  display: inline-block;
  color: #1f1f1f;
  font-size: 18px;
  width: 100%;
  text-align: start;
  padding: 0px 20px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}

.content-worldwide .container .content .col-country ul li:hover {
  background-color: black;
  color: #f0f0f0;
}

.content-worldwide .container .col-contact-office {
  margin-top: 20px;
}

.content-worldwide .container .col-contact-office .p-country {
  padding: 0px 0px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  color: red;
}

.content-worldwide .container .col-contact-office ul {
  margin-bottom: 0;
  margin-top: 5px;
}

.content-worldwide .container .col-contact-office ul li .p-office {
  margin-bottom: 0;
  padding: 0px 0px;
  font-weight: 600;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
}

.content-worldwide .container .col-contact-office ul li .address {
  padding: 0px 0px;
  height: 50px;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
}

.content-worldwide .container .col-contact-office ul li .tl {
  margin-top: 4px;
  width: 100%;
  padding: 0px 20px;
  height: 50px;
  display: inline-block;
  background-color: #ff4141;
  color: white;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.content-worldwide .container .col-contact-office ul li .tl i {
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.content-worldwide .container .col-contact-office ul li:hover .tl {
  background-color: black;
  color: white;
}

.content-worldwide .container .col-contact-office ul li:hover .tl i {
  color: red;
}

.timeline {
  overflow: hidden;
  margin-bottom: 200px;
}

.timeline .content-title .title {
  padding: 18px 20px;
  border-left: 20px solid red;
  border-right: 20px solid red;
}

.timeline .content-title .title .title-p {
  margin: 0px !important;
  font-weight: 700;
}

.timeline .timeline-line-now .year .year-content .body-content .text .body p {
  margin-left: 20px;
  margin-bottom: 0;
}

.timeline .timeline-line-now .line .dot {
  display: block;
  width: 25px;
  cursor: pointer;
}

.timeline .timeline-line-now .line .line-span {
  display: block;
  height: 375%;
  border-left: 3px solid red;
  margin-left: 11px;
}

.timeline .timeline-line-now .text {
  padding-bottom: 20px;
}

.timeline .timeline-line-now .date h3 {
  margin: 0;
}

.timeline .timeline-line-now .body p {
  margin-left: 20px;
  margin-bottom: 0;
}

@media only screen and (max-width: 528px) {
  #section-header #carouselExampleControls {
    height: 210px;
  }
  #section-header #carouselExampleControls .carousel-inner {
    height: 210px;
  }
  #section-header #carouselExampleControls .carousel-inner .carousel-item {
    height: 210px;
  }
  .timeline-line-now .line .line-span {
    height: 137% !important;
    border-left: 3px solid red;
    margin-left: 11px;
  }
  #product-series ul {
    padding: 0;
  }
  #product-series ul li {
    padding: 0 4px;
    margin: 0;
  }
  #product-series ul li:nth-child(1) {
    padding: 0 20px;
  }
  .section-history .history .event-text {
    margin-top: 10px;
  }
  .content .container .row:nth-child(2) {
    margin-top: 0 !important;
  }
  .content-chairman .container .row .text-title {
    margin-top: 14px;
  }
  .nav-product {
    margin-top: 100px;
  }
  .nav-product .row ul li a {
    display: block;
    text-align: center;
    font-size: 14px !important;
  }
  .content-technology .container .con-body .scope .row {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .owl-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .owl-nav .owl-next {
    margin-left: 80%;
  }
}

@media only screen and (max-width: 428px) {
  .timeline-line-now .line .line-span {
    height: 145% !important;
    border-left: 3px solid red;
    margin-left: 11px;
  }
}
/*# sourceMappingURL=style.css.map */